body {
	font-family: 'Average Sans', sans-serif;
	background: #f6f6ef;
}

@media (min-width: 1200px) {
    .container{
        max-width: 990px;
    }
}

.navbar-default {
	background: none;
	border: none;
	height: 100px;
	margin-bottom: 50px;
}

.navbar-right {
	margin-top: 30px;
	font-size: 1.3em;
	text-transform: uppercase;
}

p {
	font-size: 17px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Fjalla One', sans-serif;
}

h1, h2, h3 {
	color: #2a80b9;
	text-transform: uppercase;
}

h1.front {
	font-size: 55px;
}

a {
	color: #9b59b6;
}

.btn a {
	color: #fff;
}

.mentors img {
	border-radius: 10px;
}

.dat-nav {
	
	background-color: #fff;
	border-radius: 5px;
	width: 240px;
	padding: 10px 0 10px 20px;
}

.dat-nav a {
	color: #454545;
}

.nav>li>a {
	font-size: 22px;
	color: #9b59b6;
}

.join-block {
	margin-top: 40px;
}

button.purple {
	width: 225px;
	padding: 20px;
	margin-bottom: 20px;
	font-size: 21px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	background-color: #9b59b6;
	border: none;
}

button.purple:hover {
	background: #7E389B;
}

.featurette {
	padding-bottom: 75px;
}

.number {
	font-size: 40px;
	float: left;
	margin-right: 25px;
	margin-top: -05px;
}

.mascot {
	margin: 0 auto;
	text-align: center;
}

.mascot img {
	width: 160px;
}

.nav-pills>li>a {
	font-size: 16px;
	padding: 5px 10px;
	max-width: 200px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background: #9b59b6;
}

button.culture {
	background: #2a80b9;
	margin-top: 10px;
	margin-bottom: 10px;
}

button.culture a {
	color: #fff;
	font-size: 16px;
}

.btn {
	border: none;
}

.well {
	background: #fff;
}

.footer {
	margin-top: 40px;
	margin-bottom: 20px;
}

.footer img {
	width: 40px;
	float: left;
	margin-right: 10px;
}

.footer .navbar-nav>li>a {
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 18px;
	text-transform: uppercase;
}

.affix {
	top: 20px;
}
