
.img-right-bottom
{
	padding-top: 05px;
	padding-bottom: 30px;
}

.placed-right
{
	padding-left: 30px;
	padding-bottom: 30px;
}

.placed-left
{
	padding-right: 30px;
	padding-bottom: 30px;
}

.grey-element
{
	background: #ccc;
}


.p-strong {
   	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
   	font-weight: bold; 
   	color: #3498db;
}